body{
    margin: 0px;
    background: black !important;
    padding: 0px;
}


body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:10px;
    background: #000000;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

/* Barra scroll */


main{
    display: flex;
    justify-content: center;
    align-items: start;
    background: 
      linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1) 100%), 
      url("/public/Fondo.png") center/cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
    gap: 30px;
    padding-top: 30px;
    position: relative; /* importante para pseudo-elemento */
}


section.section {
    width: 100%;
    height: 100vh;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0)90%, rgba(0, 0, 0, 0)95%, rgba(0, 0, 0, 1) 100%);
} 

/* Pseudo-elemento de fade */
.section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: black; /* color al que queremos llegar */
    opacity: 0;        /* empieza invisible */
    transition: opacity 2s ease; /* duración del desvanecimiento */
    z-index: -1;       /* detrás de tu contenido */
}

#noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0.15;   /* <-- intensidad del ruido */
  z-index: 1;
}

/* Menú */
header.menu{
    position: fixed;
    top: 130px;
    right: 100px;
    z-index: 99 !important;
}

.menu i{
    font-size: 25px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-family: "Syne", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    
}

.menu ul li{
    margin-bottom: 25px;

}

.cv{
    background: rgb(17, 17, 17);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv a{
    color: white !important;
}

.introduction{
    max-width: 1300px;
    /* position: fixed !important; */
}

.introducion-presentation h1{
     font-family: "Syne", sans-serif;
     font-weight: 750;
     font-size: 90px;
     width: 70%;
}

.introducion-presentation span{
     font-family: "Syne", sans-serif;
     font-weight: 700;
     font-size: 70px;
}

.introducion-presentation p{
     font-family: "Syne", sans-serif;
     font-weight: 400;
     font-size: 30px;
     width: 80%;
}

.introduction,
.section,  .experience, .working-stack {
  position: relative;
  z-index: 2;
}

/*Section - Project professional*/


.section{
    display: flex;
    justify-content: center;
}

.section-proyect-professional{
    width: 1300px !important;
}


h2{
    font-size: 75px;
    text-transform: uppercase;
    font-family: "Syne", sans-serif;
    color: rgb(255, 255, 255);
}

.infinite{
    animation: titulo 5s linear infinite;
  display: inline-block;

}

.marquee {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;              /* CLAVE */
  width: max-content;         /* CLAVE */
  animation: titulo 20s linear infinite;
}

.track h2 {
  white-space: nowrap;
  margin-right: 50px; /* pequeño espacio elegante entre repeticiones */
  word-spacing: 20px;
  margin-bottom: 80px;
}

@keyframes titulo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.project-profesional{
    display: flex;
    justify-content: center;
}

.section__project-profesional{
    max-width: 1300px;
    width: 1300px;
    z-index: 2;
}

.content__project-profesional{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px !important;
    animation: appear 500ms;
}

@keyframes appear {
    from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
}

.content__project-profesional img{
    width: 480px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    border:3px solid rgb(255, 255, 255);
    filter:grayscale(100%);
    transition: 0.3s all ease;
}

.content__project-profesional:nth-of-type(2){
    transform: translateX(120px);
    animation: appear-two 500ms ease;
}

.content__project-profesional:nth-of-type(2) div{
    transform: translateX(-100px);
}

.content__project-profesional img:hover{
    filter:grayscale(0%);
}

@keyframes appear-two {
    from{
        opacity: 0;
        transform: translateX(80px);
    }
    to{
        transform: translateX(120px);
        opacity: 100%;
    }
}


.content__project-profesional div h3{
    font-size: 30px;
    font-family: "Syne", sans-serif;
    color: #91E0F6;
    text-align: end;
    margin: 0px;
    text-transform: uppercase;
}

.content__project-profesional div ul{
    text-align: end !important;
    list-style: none;
    font-size: 18px !important;
    font-family: "Manrope";
    color: white;
}

/*Section personal project*/

.section__project-personal{
    display: flex;
    justify-content: center;
    z-index: 2;
}

.project-personal{
    display: flex;
    justify-content: center;
}

.section__project-personal{
    display: flex;
    justify-content: space-between;
    width: 1300px;
}

.content__project-personal{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    height: 380px;
    border-radius: 5px;
    padding: 30px !important; 
    flex-flow: wrap row;
    border: 5px white solid;
}

.content__project-personal h3{
    font-size: 30px;
    font-family: "Syne", sans-serif;
    color: #91e0f600;
    margin: 0px;
    text-transform: uppercase;
    text-align: center;
    visibility: hidden;
    flex: 1 100%;
    transition: all 300ms ease;

}

.content__project-personal:hover h3{
    font-size: 30px;
    font-family: "Syne", sans-serif;
    color: #91E0F6;
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    visibility: visible;

}

.content__project-personal p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0);
    font-family: "Maronpe", sans-serif;
    line-height: 30px;
    transition: all 300ms ease ;
    text-align: center;

}

.content__project-personal:hover p{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Maronpe", sans-serif;
    line-height: 30px;
}

.img-personal__1{
    background: url('/public/proyect-personal/Inventory.png');
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 300ms ease !important;
}

.img-personal__2{
    background: url('/public/proyect-personal/rgb.png');
    filter: brightness(70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 300ms ease !important;

}

.content__project-personal a{
    text-decoration: none !important;
}

/* .img-personal__3{

} */

.img-personal__1:hover, .img-personal__2:hover{
    background: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(100%);

}

.content__project-personal a i.fa-square-figma, i.fa-square-github{
    font-size: 50px !important;
    width: 50px !important;
    color: white;
}

/*Experience*/
.experience{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.experience h2{
    flex: 1 100%;
    text-align: center !important;
}

.experience__content{
    width: 1300px;
    display: flex;
    justify-content: center;
    flex-flow: wrap row ;
}

.experience__one{
    margin-top: 50px;
}

.content__experience{
    flex: 1 0 100%;
}

.content__experience h4{
    font-size: 40px;
    color: white !important;
    font-family: "syne", sans-serif;
    margin: 25px 0px;
    flex: 1 0 100%;
    text-align: end;
}

.experience__one h4{
    text-align: start;
}

.content__experience span{
    font-size: 30px;
    color: white;
    text-align: end;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    flex: 1 0 100%;
}

.content__experience ul li{
    font-size: 18px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    flex: 1 0 100%;
    margin-bottom: 6px;
}

.experience__two{
    display: flex;
    justify-content: end;
    flex-flow: wrap row;
    margin-top: 80px;

}

/*Working stack*/

.working-stack{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.working-stack__content{
    display: flex;
    justify-content: center;
    width: 1300px;
    flex-flow: wrap row;

}

.working-stack__content h2{
    flex: 1 0 100% !important;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}

.working-stack__content div {
    flex: 1 0 100% !important;
    padding-bottom: 40px;
    display: flex;
    justify-content: end;
    flex-flow: wrap row;
}

.working-stack__content .frontend h4,
.working-stack__content .design h4,
.working-stack__content .data-architecture h4{
    font-size: 35px;
    font-family: 'Syne', sans-serif;
    font-weight: 600;
    color: #91E0F6;
    margin: 0px;
    flex: 1 0 100% !important;
    text-transform: uppercase;
    text-align: end;
}

.working-stack__content .frontend p,
.working-stack__content .design p,
.working-stack__content .data-architecture p{
    color: white;
    font-size: 18px;
    font-family: 'manrope', sans-serif;
    flex: 1 0 100% !important;
    text-align: end;
    font-weight: 400;
}

.working-stack__content .frontend{
    transform: translateX(-75%);
}

.working-stack__content .design{
    transform: translateX(-40%);
}

footer{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 500px !important;
    z-index: 2;
    position: relative;
}

.footer-content h2{
    margin: 0px;
    text-transform: capitalize;
    padding: 0px;
}

footer {
    position: relative; /* MUY IMPORTANTE */
    display: flex;
    justify-content: center;
    align-items: end;
    background: 
      linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%), 
      url("/public/Fondo.png") center/cover no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-flow: wrap row;

}

#footer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black, transparent);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.footer-content h2{
    color: black;
    font-size: 130px; 
}

footer .social-media{
    flex: 1 0 100%;
    font-family: 'syne';
}

footer.section a{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}
